.main-title{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 60px;
    text-align: center;
}
.change-size{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.change-size__img{

    height: 300px;
    width: 300px;
}
.change-size__button{

    color: black;
    background-color: crimson;
    border: 1px solid black;
}